<h1>Welcome to Seattle!</h1>
<table>
<%= image_tag("seattle-neighborhood-map.jpg") %>
<% @neighborhoods.each do |n| %>
  <tr>
    <td>
      <%= link_to n.name, neighborhood_path(n) %>
    </td>
    <td>
      <%= button_to 'Edit', edit_neighborhood_path(n), method: :get %>
    </td>
    <td>
      <%= button_to "Delete", "/neighborhoods/#{n.id}", method: "delete",  data: { confirm: "Are you sure you want to delete this neighborhood?" } %>
    </td>
  </tr>
<% end %>
</table>
<p>
  Can't find the neighborhood you're looking for? <%= link_to 'Add a new neighborhood', new_neighborhood_path %>
</p>
