<h1>All Activities</h1>
<%= form_tag '', :method => :get do %>
  <%= select_tag "Category", options_for_select(@categories), prompt: "Select a category" %>
  <%= submit_tag 'Filter by Category' %>
<% end %>
<%= form_tag '', :method => :get do %>
  <%= select_tag "Subcategory", options_for_select(@subcategories), prompt: "Select a subcategory" %>
  <%= submit_tag 'Filter by Subcategory' %>
<% end %>
<%= form_tag '', :method => :get do %>
  <%= collection_select :neighborhood, :neighborhood_id, Neighborhood.all, :id, :name, prompt: "Select a neighborhood" %>
  <%= submit_tag 'Filter by Neighborhood' %>
<% end %>
<table>
  <% @activities.each do |a| %>
    <tr>
      <td>
        <%= link_to a.name, neighborhood_activity_path(a.neighborhood_id, a.id) %>
      </td>
      <td>
        <%= button_to 'Edit', edit_neighborhood_activity_path(a.neighborhood_id, a.id), method: :get %>
      </td>
      <td>
        <%= button_to 'Delete',
        "/neighborhoods/#{a.neighborhood_id}/activities/#{a.id}", method: "delete", data: { confirm: "Are you sure you want to delete this activity?" } %>
      </td>
    </tr>
  <% end %>
</table>
